<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Sol de Ironhack</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">


</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">La hora de Luis Miguel</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home</a>
                <a class="nav-item nav-link" href="/about">About</a>
                <a class="nav-item nav-link" href="/works">Works</a>
                <a class="nav-item nav-link" href="/photogallery">Photogallery</a>
            </div>
        </div>
    </nav>

</body>

<div>
    <p>Información</p>
    <section>
        Luis Miguel Gallego Basteri (San Juan, 19 de abril de 1970),conocido como Luis Miguel y apodado en ocasiones como «El Sol de México», es un cantante y productor musical mexicano nacido en Puerto Rico. Es considerado como uno de los artistas más grandes
        y exitosos de América Latina por su amplia gama de estilos musicales, incluyendo funk, pop, baladas, boleros, tangos, jazz, big band y mariachi. También es reconocido como el único cantante latino de su generación que no se cruza con el mercado
        anglosajón durante la "Explosión latina" en la década de 1990.
    </section>
    <p></p>
    <p>Trayectoria</p>
    <section>
        Debido a la profesión de su padre, su familia llegó a México, y posteriormente retornó a sus residenciales, que están en Madrid, España. Desde su niñez se crio ahí, donde estudió hasta quinto grado en la escuela primaria, pues debido a su incursión en
        los medios artísticos siguió su educación con profesores particulares. ​ A pesar de cantar solo en español, continuó siendo el artista latino más vendido en la década de los 90, y se le atribuyó la popularización del género bolero en el mercado
        general. Ha vendido más de 100 millones de discos en todo el mundo.
    </section>
    <p></p>
    <p>Vida privada</p>
    <section>
        Luis Miguel es padre de tres hijos: Michelle (13 de junio de 1989), nacida de su relación con Stephanie Salas, hija de la actriz Sylvia Pasquel, y a su vez, nieta de la actriz Silvia Pinal. Miguel (1 de enero de 2007) y Daniel (18 de diciembre de 2008),
        nacidos de su relación con la actriz Aracely Arámbula.
    </section>

</div>



</html>